* {margin:0; padding:0; box-sizing:border-box;}
a img {border:0;}


/* Header */
#header { background-color: #a6d2fdcc; width:100%; line-height:16em; text-align:center;}

/* Contents */
	/* Main-Block */
	#main-block {padding:4em 8em;}
	#main-block #main-title {margin-bottom:2em;} 
	#main-block #main-title h1 {text-align:center; color:black; text-transform:uppercase; font-family: 'Italianno', cursive, arial;}
	#main-block #main-title h2, p { text-align:center;}
	#main-block #main-title h2::after {content:""; display:block; height:2px; width:10%; margin:1em auto 0; background:#10dbff;}
	#main-block p,
	#main-block ul,
	#main-block ol {margin-bottom:1em;}

	



/*================================*/
/*=== Partie sur le Swipe Menu ===*/
/*================================*/
/* Menu burger */
#menu-burger {position:fixed; top:2.5em; right:3.5em; display:inline-block; cursor:pointer;}
#menu-burger .bar1,
#menu-burger .bar2,
#menu-burger .bar3 {width:32px; height:5px; background-color:rgb(255, 255, 255); margin:6px 0; transition:0.4s;}
#menu-burger:hover {opacity:.75; transition:.5s;}
#menu-burger.clicked .bar1 {-webkit-transform:rotate(-45deg) translate(-9px, 6px); transform:rotate(-45deg) translate(-9px, 6px);}
#menu-burger.clicked .bar2 {opacity: 0;}
#menu-burger.clicked .bar3 {-webkit-transform:rotate(45deg) translate(-8px, -8px); transform:rotate(45deg) translate(-8px, -8px);}

/* Main menu (slide) */
#menu {position:fixed; z-index:9999; left:-25%; top:auto; background:#08248052; padding:4em 2em; width:25%; min-height:100%; box-shadow:1px 0 1px rgb(238, 233, 233); text-align:center;}
#menu ul li {list-style:none;}
#menu ul li a {display:block; color:rgb(235, 221, 221); text-decoration:none; font-weight:700; background:#1350a1c2; transition:background .5s; padding:1em; text-align:center; margin-bottom:.5em; box-shadow:1px 1px 0 rgb(248, 243, 243)}
#menu ul li a:hover {background:#1cbfe7ea; transition:background .5s;}
#menu.visible {animation:.5s slideRight ease-in forwards; transition-delay:0;}
#menu.invisible {animation:1s slideLeft ease-out forwards; transition-delay:0;}

/* Animations pour le menu slide */
@keyframes slideRight {
	from {left:-25%;}
	to {left:0%;}
}
@-webkit-keyframes slideRight {
	from {left:-25%;}
	to {left:0%;}
}
@keyframes slideLeft {
	from {left:0%;}
	to {left:-25%;}
}
@-webkit-keyframes slideLeft {
	from {left:0%;}
	to {left:-25%;}
}

/* Responsive design */
@media (max-width:1024px) {
	#menu {left:-50%; width:50%;}
	#menu-burger.clicked {position:fixed;}
	#main-block,
	#second-block {padding:4em 2em;}

	/* Animations pour le menu slide */
	@keyframes slideRight {
		from {left:-50%;}
		to {left:0%;}
	}
	@-webkit-keyframes slideRight {
		from {left:-50%;}
		to {left:0%;}
	}
	@keyframes slideLeft {
		from {left:0%;}
		to {left:-50%;}
	}
	@-webkit-keyframes slideLeft {
		from {left:0%;}
		to {left:-50%;}
	}
}
@media (max-width:600px) {
	#menu-burger {top:1em; right:2em; z-index:9999;}
	#menu {left:-100%; width:100%;}
	#second-block #google-maps {width:100%; margin-right:0;}
	#second-block #contact-form {width:100%; margin-top:2em;}

	/* Animations pour le menu slide */
	@keyframes slideRight {
		from {left:-100%;}
		to {left:0%;}
	}
	@-webkit-keyframes slideRight {
		from {left:-100%;}
		to {left:0%;}
	}
	@keyframes slideLeft {
		from {left:0%;}
		to {left:-100%;}
	}
	@-webkit-keyframes slideLeft {
		from {left:0%;}
		to {left:-100%;}
	}
}

body {
	margin:0;
	padding: 0 !important;
	font-family: bold ;
	text-align:center; 
	color: black;

	line-height: 3em;
	font-family: 'Rancho', cursive, arial, sans-serif;
	background-image: url(images/fond-ecran_tablette.jpg);
	background-attachment: fixed;
	background-size: cover;
	/* cursor: url("images/btt_b.png"), pointer; */
    
	
}



h1, h2, h3, p{
	font-size: 1.8em;

	margin: auto;
	


}

.style_white{background-color: #8bbabbc2; color: black !important;}
.style_black{background-color: #6c7b95c0; color: black !important;}

#Me_contacter{
	background-color: rgba(245, 242, 238, 0.774);
	color: rgb(33, 33, 153) ;
}
#A_propos{ border-radius: 35%;
}

#Mes_Projets{
	background-color: #6c7b95c0;
}

.img-slide{
	background-color: rgba(24, 22, 22, 0.863);
}
/* .paint_face { background-image: url(images/girl-2696947_1920.jpg); background-size: cover; background-repeat: no-repeat; font-size: 1em; text-align: center; max-width: 600px; margin:0 auto; border-radius:25px;} */

/* mon slide image */
img {
	max-width: 75%;
	vertical-align: middle;
}
  
  .trigger {
	display: none;
}
  
  .slider, .slider-wrapper {
	position: relative;
	height: 250px;
}
  
  .slide {
	background-color: black;
	width: 100%;
	overflow: hidden;
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 5000;
	opacity: 0;
	transition: opacity .5s ease-in-out;
}
  
  .slide-img {
	filter: brightness(100%);
	height: 100%;
	object-fit: fill;
	display: block;
	margin: 0 auto;
}
  
  .slide-figure {
	height: 100%;
	position: relative;
	margin: 0;
}
  
  .slide-caption {
	position: absolute;
	bottom: 30%;
	width: calc(100% - 1rem);
	color: white;
	text-align: center;
	left: 50%;
}
  
  .trigger:checked + .slide {
	z-index: 6000;
	opacity: 1;
}
  
  .slider-nav {
	width: 100%;
	text-align: center;
	margin: 1rem 0;
}
  
  .slider-nav__item {
	display: inline-block;
}
  
.slider-nav__label {
	font-size: 13px;
	background-color: #333;
	display: block;
	height: 2em;
	line-height: 2em;
	width: 2em;
	text-align: center;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	transition: background-color .25s, color .25s ease-in-out;
}
  
  .slider-nav__label:hover,
  .slider-nav__label:active,
  .slider-nav__label:focus {
	background-color: gray;
	color: black;
}

/* RESPONSIVENESS */
@media only screen and (min-width: 1024px) {
  .slider, .slider-wrapper {
    height: 480px;
  }

  .slide-caption {
    width: 65%;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .slider, .slider-wrapper {
    height: 360px;
  }

  .slide-caption {
    width: 75%;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .slide-img {
    width: 100%;
    height: auto;
  }
}
/* suite1 */

/*progressbar*/
.center{
    width: 92% auto;
    margin: 50px;
    top: 50%;
    left: 50%;
    padding: 10px !important;
    background: #22076e9a;
    box-sizing: border-box;
	box-shadow: 0 10px 10px;
	max-width: 500px;
	margin: auto;	
    
}





.skillBox{
    box-sizing: border-box;
    width: 100% auto;
    margin: 20px 0;

}

.skillBox p{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0 !important;
    font-family: bold;
    letter-spacing: 1px;
    text-align: left;
}

.skillBox p:nth-child(2){

    float: right;
    position: relative;
    top: -40px;
}

.skill{
    background: #f7f5fa;
    padding: 4px !important;
    box-sizing: border-box;
    border: 2px solid #030207;
    border-radius: 2px;
}

.skill_level{
    background: #24c6ee;
    width: 100%;
    height: 10px;
    
}
/*progressbar*/

.me {
	border-radius: 100%;
}

.style_hr{
	
	overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px 0 0 0;
    border-radius: 20px;

}
.style_hr:before{ /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}


footer{

	background-color:#8bbabbc2;
	padding: 3em 0 3em !important;

}

/* bouton cv */
.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* up page */
